<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('用户佣金记录列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <p>会员昵称：</p>
                            <input type="text" name="nickname"/>
                        </li>
                        <li>
                            <p>佣金状态：</p>
                            <select name="status" th:with="type=${@custom.commissionStatus()}">
                                <option value="">请选择</option>
                                <option th:each="dict : ${type}" th:text="${dict.value}" th:value="${dict.key}"></option>
                            </select>
                        </li>
                        <li>
                            <p>操作类型：</p>
                            <select name="operation" th:with="type=${@custom.commissionOperation()}">
                                <option value="">请选择</option>
                                <option th:each="dict : ${type}" th:text="${dict.value}" th:value="${dict.key}"></option>
                            </select>
                        </li>
                        <!--<li>-->
                            <!--<p>申请单号(退货申请/提现申请)：</p>-->
                            <!--<input type="text" name="applyId"/>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<p>订单号：</p>-->
                            <!--<input type="text" name="orderId"/>-->
                        <!--</li>-->
                        <li class="select-time">
                            <p>创建时间：</p>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginCreateTime]" readonly/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endCreateTime]" readonly/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <!--<div class="btn-group-sm" id="toolbar" role="group">-->
            <!--<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="business:accCommissionRecord:add">-->
                <!--<i class="fa fa-plus"></i> 添加-->
            <!--</a>-->
            <!--<a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="business:accCommissionRecord:edit">-->
                <!--<i class="fa fa-edit"></i> 修改-->
            <!--</a>-->
            <!--<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="business:accCommissionRecord:remove">-->
                <!--<i class="fa fa-remove"></i> 删除-->
            <!--</a>-->
            <!--<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="business:accCommissionRecord:export">-->
                <!--<i class="fa fa-download"></i> 导出-->
            <!--</a>-->
        <!--</div>-->
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('business:accCommissionRecord:edit')}]];
    var removeFlag = [[${@permission.hasPermi('business:accCommissionRecord:remove')}]];

    var prefix = ctx + "business/accCommissionRecord";
    var isAdmin = [[${isAdmin}]];
    var commissionStatus = [[${@custom.commissionStatusAll()}]];
    var commissionOperation = [[${@custom.commissionOperationAll()}]];

    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "用户佣金记录",
            showColumns: isAdmin,
            sortName: "id",
            sortOrder: "desc",
            columns: [
            //     {
            //     checkbox: true
            // },
            // {
            //     title: '序号',
            //     field: '',
            //     align: 'center',
            //     width:100,
            //     formatter: function (value, row, index) {
            //         var pageSize = $('#bootstrap-table').bootstrapTable('getOptions').pageSize;     //通过table的#id 得到每页多少条
            //         var pageNumber = $('#bootstrap-table').bootstrapTable('getOptions').pageNumber; //通过table的#id 得到当前第几页
            //         return pageSize * (pageNumber - 1) + index + 1;    // 返回每条的序号： 每页条数 *（当前页 - 1 ）+ 序号
            //     }
            // },
            {
                field : 'id',
                title : '编号',
                visible: false,
            },
            {
                field : 'memberId',
                title : '用户id',
                visible: false,
            },
            {
                field : 'applyId',
                title : '申请单号(退货申请/提现申请)',
                visible: false,
            },
            {
                field : 'orderId',
                title : '订单号',
                visible: false,
            },
            {
                field : 'headimgurl',
                title : '会员头像',
                formatter : function(value, row, index) {
                    return $.table.imageView(value);
                }
            },
            {
                field : 'nickname',
                title : '会员昵称',
            },
            {
                field : 'phone',
                title : '联系方式',
            },
            {
                field : 'money',
                title : '金额',
                formatter: function (value, row, index) {
                    return $.common.sprintf('<a style="color: %s;" href="javascript:void(0)"><i class="fa fa-jpy"></i><b> %s</b></a>', value && parseFloat(value) > 0 ? "red" : "green", value);
                }
            },
            {
                field : 'status',
                title : '佣金状态',
                formatter: function(value, row, index) {
                    if (commissionStatus[value]) {
                        return $.common.sprintf("<span class='badge badge-%s'>%s</span>", commissionStatus[value].style, commissionStatus[value].desc);
                    }
                }
            },
            {
                field : 'operation',
                title : '操作类型',
                formatter: function(value, row, index) {
                    if (commissionOperation[value]) {
                        return $.common.sprintf("<span class='badge badge-%s'>%s</span>", commissionOperation[value].style, commissionOperation[value].desc);
                    }
                }
            },
            {
                field : 'description',
                title : '描述',
            },
            {
                field : 'openid',
                title : '会员openid',
                visible: false
            },
            {
                field : 'roleType',
                title : '会员类型',
                visible: false
            },
            {
                field : 'shopId',
                title : '所属店铺',
                visible: false
            },
            {
                field : 'createTime',
                title : '创建时间',
            },
            // {
            //     title: '操作',
            //     align: 'center',
            //     formatter: function(value, row, index) {
            //         var actions = [];
            //         actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
            //         actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
            //         return actions.join('');
            //     }
            // }
            ]
    };
        $.table.init(options);
    });
</script>
</body>
</html>