<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('微信支付配置')" />
    <style type="text/css">
        label.error {
            position: absolute;
            right: 35px;
            top: 10px;
            color: #ef392b;
            font-size: 12px;
            z-index: 99;
        }
    </style>
</head>

<body class="gray-bg">

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">设置</span>
                    <h5>微信支付配置</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m" id="form-wxPayConfig">
                        <div class="form-group">
                            <label class="col-sm-2 control-label is-required">商户ID：</label>
                            <div class="col-sm-6">
                                <input id="partnerId" name="partnerId" class="form-control edit-input" type="text" readonly>
                                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 微信支付分配的商户号 </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label is-required">商户密钥：</label>
                            <div class="col-sm-6">
                                <input id="partnerKey" name="partnerKey" class="form-control edit-input" type="text" readonly>
                                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 微信支付商户号对应的密匙（首次使用需要生成） </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label is-required">通知URL：</label>
                            <div class="col-sm-6">
                                <input id="notifyUrl" name="notifyUrl" class="form-control edit-input" type="text" readonly>
                                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 微信支付商户号对应的密匙（首次使用需要生成） </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">证书路径：</label>
                            <div class="col-sm-6">
                                <textarea id="certPath" name="certPath" class="form-control edit-input" readonly rows="2" style="resize: none;"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">证书密匙：</label>
                            <div class="col-sm-6">
                                <textarea id="certSecret" name="certSecret" class="form-control edit-input" readonly rows="4" style="resize: none;"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">配置备注：</label>
                            <div class="col-sm-6">
                                <textarea id="remark" name="remark" class="form-control edit-input" readonly rows="3" style="resize: none;" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-2">
                                <button type="button" id="editBtn" class="btn btn-success" onclick="edit();"><i class="fa fa-paste"></i> 编辑</button>
                                <button type="button" id="cancelBtn" class="btn btn-warning hidden" onclick="cancel();"><i class="fa fa-backward"></i> 取消</button>
                                <button type="button" id="saveBtn" data-loading-text="Loading..." class="btn btn-primary hidden" onclick="saveSetting();"><i class="fa fa-check"></i> 保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:include="include :: footer" />
<script th:inline="javascript" type="text/javascript">
    var prefix = ctx + "business/wxPayConfig";
    var configForm = "form-wxPayConfig";
    var config = [[${config}]];

    $(function () {
        if (config) {
            for (var key in config) {
                $("#" + key).val(config[key]);
            }
        }
    });

    /**
     * 保存设置
     */
    function saveSetting() {
        if ($.validate.form(configForm)) {
            $.modal.confirm("确认保存设置", function() {
                $("#cancelBtn").addClass("hidden").attr("disabled", "disabled");
                $("#saveBtn").button('loading');
                $.operate.post(prefix + "/add", $('#' + configForm).serialize(), function(result){
                    if (result.code === web_status.SUCCESS) {
                        $.modal.alert("设置保存成功", modal_status.SUCCESS, function () {
                            window.location.reload();
                        });
                    } else {
                        $.modal.alertWarning(result.msg);
                        $("#cancelBtn").removeClass("hidden").removeAttr("disabled");
                        $("#saveBtn").button('reset');
                    }
                });
            });
        }
    }

    /**
     * 开启编辑
     */
    function edit() {
        $(".edit-input").removeAttr("readonly");
        $("#editBtn").addClass("hidden").attr("disabled", "disabled");
        $("#saveBtn").removeClass("hidden").removeAttr("disabled");
        $("#cancelBtn").removeClass("hidden").removeAttr("disabled");
    }

    /**
     * 取消编辑
     */
    function cancel() {
        $(".edit-input").attr("readonly", "readonly");
        $("#editBtn").removeClass("hidden").removeAttr("disabled");
        $("#saveBtn").addClass("hidden").attr("disabled", "disabled");
        $("#cancelBtn").addClass("hidden").attr("disabled", "disabled");
        window.location.reload();
    }

    $("#" + configForm).validate({
        focusCleanup: true,
        rules: {
            partnerId: {
                required: true,
                rangelength: [2, 50],
            },
            partnerKey: {
                required: true,
                rangelength: [2, 50],
            },
            notifyUrl: {
                required: true,
                rangelength: [2, 200],
                url:true,
            },
            certPath: {
                rangelength: [2, 500],
            },
            certSecret: {
                rangelength: [2, 2000],
            },
            remark: {
                rangelength: [2, 500],
            }
        },
        messages: {
            partnerId: {
                required: "请填写商户ID",
                rangelength: $.validator.format("商户ID长度在 {0} 到 {1} 字之间"),
            },
            partnerKey: {
                required: "请填写商户密钥",
                rangelength: $.validator.format("商户密钥长度在 {0} 到 {1} 字之间"),
            },
            notifyUrl: {
                required: "请填写通知URL",
                rangelength: $.validator.format("通知URL长度在 {0} 到 {1} 字之间"),
                url: "请填写有效的网址（http(s)//: xxx.xxx.xxx）"
            },
            certPath: {
                rangelength: $.validator.format("证书路径长度在 {0} 到 {1} 字之间"),
            },
            certSecret: {
                rangelength: $.validator.format("证书密匙长度在 {0} 到 {1} 字之间"),
            },
            remark: {
                rangelength: $.validator.format("配置备注长度在 {0} 到 {1} 字之间"),
            }
        }
    });

</script>
</body>
</html>