<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fante.project.business.accBalanceRecord.mapper.AccBalanceRecordMapper">
    <!--
    例子一：扩展返回值有集合的：因为这个mapper和baseMapper的命名空间一致所以 格式：命名空间.ResultMapId可以简写成ResultMapId
    <resultMap id="orderDetailResultMap" type="com.macro.chilledStore.dto.OmsOrderDetail" extends="baseOrderResultMap">
        <collection property="orderItemList" resultMap="命名空间.BaseResultMapId" columnPrefix="item_"/>
        <collection property="historyList" resultMap="命名空间.BaseResultMapId" columnPrefix="history_"/>
    </resultMap>
    例子二：扩展返回值有自定义的新增值的（就是返回的dto中有这个字段，但是数据库中没有这个字段，但需要查询返回到dto中。）
    <resultMap id="OmsOrderSaleResultMap" type="com.macro.chilledStore.dto.OmsOrderSale" extends="baseOrderResultMap">
        <result column="data" jdbcType="VARCHAR" property="data" />
        <result column="num" jdbcType="VARCHAR" property="num" />
    </resultMap>
    -->
    <!--模板
    <resultMap id="AccBalanceRecordResultExt" type="扩展类全包名" extends="AccBalanceRecordResult">

    </resultMap>
     -->

    <sql id="selectJoinVo">
        select
               br.id, br.member_id, br.money, br.type, br.operation, br.description, br.cash_apply_id,
               br.create_by, br.create_time, br.update_by, br.update_time, br.remark, br.del_flag,
               u.phone, u.nickname, u.headimgurl, u.openid, u.role_type, u.shop_id
        from acc_balance_record br
        inner join ums_member u on u.id = br.member_id
    </sql>


    <select id="selectJoinList"
            parameterType="com.fante.project.business.accBalanceRecord.domain.AccBalanceRecordDTO"
            resultType="com.fante.project.business.accBalanceRecord.domain.AccBalanceRecordDTO">
        <include refid="selectJoinVo"/>
        <where>
            br.del_flag = '0'
            <if test="memberId != null "> and br.member_id = #{memberId}</if>
            <if test="type != null  and type != ''"> and br.type = #{type}</if>
            <if test="operation != null  and operation != ''"> and br.operation = #{operation}</if>
            <if test="cashApplyId != null "> and br.cash_apply_id = #{cashApplyId}</if>
            <if test="params.beginTime != null and params.beginTime != ''">
                and date_format(br.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                and date_format(br.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
            <if test="nickname != null  and nickname != ''"> and u.nickname like concat('%', #{nickname}, '%')</if>
            <if test="openid != null  and openid != ''"> and u.openid = #{openid}</if>
            <if test="roleType != null  and roleType != ''"> and u.role_type = #{roleType}</if>
            <if test="shopId != null "> and u.shop_id = #{shopId}</if>
            <if test="phone != null  and phone != ''"> and u.phone = #{phone}</if>
        </where>
    </select>


</mapper>